/backend/env/
venv/
/backend/.env
.venv
*.pyc
__pycache__/
backend/**/*.pyc
# backend/backend/settings.py

compare.py
client_secret_780550455191-l0d1d0g7mh2ootb6cdhtqmv71jp8kfch.apps.googleusercontent.com.json
/backend/celerybeat-schedule.dat